@model Dishes
<center>
    <h1>Add a dish</h1>
</center>

<div id="header">
    <a href="/">Home</a>
</div>
<div class="content">
    <form asp-action="AddDish" asp-controller="Home" method="POST">
        <div class="column">
            <span asp-validation-for="Chef"></span><br>
            <label asp-for="Chef"></label><br>
            <input asp-for="Chef"><br>
            <span asp-validation-for="Name"></span><br>
            <label asp-for="Name"></label><br>
            <input asp-for="Name"><br>
            <span asp-validation-for="Calories"></span><br>
            <label asp-for="Calories"></label><br>
            <input asp-for="Calories">
        </div>
        <div class="column">
            <span asp-validation-for="Tastiness"></span><br>
            <label asp-for="Tastiness"></label><br>
            <select asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="column">
            <span asp-validation-for="Description"></span><br>
            <label asp-for="Description"></label><br>
            <textarea asp-for="Description" cols="30" rows="10"></textarea><br>
            <input value="Add Dish" type="submit">
        </div>
    </form>
</div>